com.rightback.ChocAn.Terminal/Web References/com.rightback.webservices/terminalservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://rightback.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://rightback.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rightback.com/">
      <s:element name="loginProvider">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="terminalCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginProviderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loginProviderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verifyMemberResult" type="tns:VerifyMemberResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="VerifyMemberResult">
        <s:restriction base="s:string">
          <s:enumeration value="Validated" />
          <s:enumeration value="Suspended" />
          <s:enumeration value="InvalidMember" />
        </s:restriction>
      </s:simpleType>
      <s:element name="getServices">
        <s:complexType />
      </s:element>
      <s:element name="getServicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getServicesResult" type="tns:ArrayOfServiceViewModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfServiceViewModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceViewModel" nillable="true" type="tns:ServiceViewModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceViewModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fee" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="getService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getServiceResult" type="tns:ServiceViewModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="recordClaim">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comments" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dateServiceProvided" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="recordClaimResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recordClaimResult" type="tns:RecordClaimResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RecordClaimResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="service" type="tns:ServiceViewModel" />
        </s:sequence>
      </s:complexType>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="VerifyMemberResult" type="tns:VerifyMemberResult" />
      <s:element name="ArrayOfServiceViewModel" nillable="true" type="tns:ArrayOfServiceViewModel" />
      <s:element name="ServiceViewModel" nillable="true" type="tns:ServiceViewModel" />
      <s:element name="RecordClaimResult" nillable="true" type="tns:RecordClaimResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="loginProviderSoapIn">
    <wsdl:part name="parameters" element="tns:loginProvider" />
  </wsdl:message>
  <wsdl:message name="loginProviderSoapOut">
    <wsdl:part name="parameters" element="tns:loginProviderResponse" />
  </wsdl:message>
  <wsdl:message name="verifyMemberSoapIn">
    <wsdl:part name="parameters" element="tns:verifyMember" />
  </wsdl:message>
  <wsdl:message name="verifyMemberSoapOut">
    <wsdl:part name="parameters" element="tns:verifyMemberResponse" />
  </wsdl:message>
  <wsdl:message name="getServicesSoapIn">
    <wsdl:part name="parameters" element="tns:getServices" />
  </wsdl:message>
  <wsdl:message name="getServicesSoapOut">
    <wsdl:part name="parameters" element="tns:getServicesResponse" />
  </wsdl:message>
  <wsdl:message name="getServiceSoapIn">
    <wsdl:part name="parameters" element="tns:getService" />
  </wsdl:message>
  <wsdl:message name="getServiceSoapOut">
    <wsdl:part name="parameters" element="tns:getServiceResponse" />
  </wsdl:message>
  <wsdl:message name="recordClaimSoapIn">
    <wsdl:part name="parameters" element="tns:recordClaim" />
  </wsdl:message>
  <wsdl:message name="recordClaimSoapOut">
    <wsdl:part name="parameters" element="tns:recordClaimResponse" />
  </wsdl:message>
  <wsdl:message name="loginProviderHttpGetIn">
    <wsdl:part name="providerCode" type="s:string" />
    <wsdl:part name="terminalCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="loginProviderHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="verifyMemberHttpGetIn">
    <wsdl:part name="memberCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verifyMemberHttpGetOut">
    <wsdl:part name="Body" element="tns:VerifyMemberResult" />
  </wsdl:message>
  <wsdl:message name="getServicesHttpGetIn" />
  <wsdl:message name="getServicesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfServiceViewModel" />
  </wsdl:message>
  <wsdl:message name="getServiceHttpGetIn">
    <wsdl:part name="code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getServiceHttpGetOut">
    <wsdl:part name="Body" element="tns:ServiceViewModel" />
  </wsdl:message>
  <wsdl:message name="recordClaimHttpGetIn">
    <wsdl:part name="providerNumber" type="s:string" />
    <wsdl:part name="memberNumber" type="s:string" />
    <wsdl:part name="serviceCode" type="s:string" />
    <wsdl:part name="comments" type="s:string" />
    <wsdl:part name="dateServiceProvided" type="s:string" />
  </wsdl:message>
  <wsdl:message name="recordClaimHttpGetOut">
    <wsdl:part name="Body" element="tns:RecordClaimResult" />
  </wsdl:message>
  <wsdl:message name="loginProviderHttpPostIn">
    <wsdl:part name="providerCode" type="s:string" />
    <wsdl:part name="terminalCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="loginProviderHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="verifyMemberHttpPostIn">
    <wsdl:part name="memberCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verifyMemberHttpPostOut">
    <wsdl:part name="Body" element="tns:VerifyMemberResult" />
  </wsdl:message>
  <wsdl:message name="getServicesHttpPostIn" />
  <wsdl:message name="getServicesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfServiceViewModel" />
  </wsdl:message>
  <wsdl:message name="getServiceHttpPostIn">
    <wsdl:part name="code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getServiceHttpPostOut">
    <wsdl:part name="Body" element="tns:ServiceViewModel" />
  </wsdl:message>
  <wsdl:message name="recordClaimHttpPostIn">
    <wsdl:part name="providerNumber" type="s:string" />
    <wsdl:part name="memberNumber" type="s:string" />
    <wsdl:part name="serviceCode" type="s:string" />
    <wsdl:part name="comments" type="s:string" />
    <wsdl:part name="dateServiceProvided" type="s:string" />
  </wsdl:message>
  <wsdl:message name="recordClaimHttpPostOut">
    <wsdl:part name="Body" element="tns:RecordClaimResult" />
  </wsdl:message>
  <wsdl:portType name="TerminalServiceSoap">
    <wsdl:operation name="loginProvider">
      <wsdl:input message="tns:loginProviderSoapIn" />
      <wsdl:output message="tns:loginProviderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyMember">
      <wsdl:input message="tns:verifyMemberSoapIn" />
      <wsdl:output message="tns:verifyMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getServices">
      <wsdl:input message="tns:getServicesSoapIn" />
      <wsdl:output message="tns:getServicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getService">
      <wsdl:input message="tns:getServiceSoapIn" />
      <wsdl:output message="tns:getServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="recordClaim">
      <wsdl:input message="tns:recordClaimSoapIn" />
      <wsdl:output message="tns:recordClaimSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TerminalServiceHttpGet">
    <wsdl:operation name="loginProvider">
      <wsdl:input message="tns:loginProviderHttpGetIn" />
      <wsdl:output message="tns:loginProviderHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyMember">
      <wsdl:input message="tns:verifyMemberHttpGetIn" />
      <wsdl:output message="tns:verifyMemberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getServices">
      <wsdl:input message="tns:getServicesHttpGetIn" />
      <wsdl:output message="tns:getServicesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getService">
      <wsdl:input message="tns:getServiceHttpGetIn" />
      <wsdl:output message="tns:getServiceHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="recordClaim">
      <wsdl:input message="tns:recordClaimHttpGetIn" />
      <wsdl:output message="tns:recordClaimHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TerminalServiceHttpPost">
    <wsdl:operation name="loginProvider">
      <wsdl:input message="tns:loginProviderHttpPostIn" />
      <wsdl:output message="tns:loginProviderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyMember">
      <wsdl:input message="tns:verifyMemberHttpPostIn" />
      <wsdl:output message="tns:verifyMemberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getServices">
      <wsdl:input message="tns:getServicesHttpPostIn" />
      <wsdl:output message="tns:getServicesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getService">
      <wsdl:input message="tns:getServiceHttpPostIn" />
      <wsdl:output message="tns:getServiceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="recordClaim">
      <wsdl:input message="tns:recordClaimHttpPostIn" />
      <wsdl:output message="tns:recordClaimHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TerminalServiceSoap" type="tns:TerminalServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="loginProvider">
      <soap:operation soapAction="http://rightback.com/loginProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyMember">
      <soap:operation soapAction="http://rightback.com/verifyMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServices">
      <soap:operation soapAction="http://rightback.com/getServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getService">
      <soap:operation soapAction="http://rightback.com/getService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recordClaim">
      <soap:operation soapAction="http://rightback.com/recordClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TerminalServiceSoap12" type="tns:TerminalServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="loginProvider">
      <soap12:operation soapAction="http://rightback.com/loginProvider" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyMember">
      <soap12:operation soapAction="http://rightback.com/verifyMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServices">
      <soap12:operation soapAction="http://rightback.com/getServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getService">
      <soap12:operation soapAction="http://rightback.com/getService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recordClaim">
      <soap12:operation soapAction="http://rightback.com/recordClaim" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TerminalServiceHttpGet" type="tns:TerminalServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="loginProvider">
      <http:operation location="/loginProvider" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyMember">
      <http:operation location="/verifyMember" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServices">
      <http:operation location="/getServices" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getService">
      <http:operation location="/getService" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recordClaim">
      <http:operation location="/recordClaim" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TerminalServiceHttpPost" type="tns:TerminalServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="loginProvider">
      <http:operation location="/loginProvider" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyMember">
      <http:operation location="/verifyMember" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServices">
      <http:operation location="/getServices" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getService">
      <http:operation location="/getService" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recordClaim">
      <http:operation location="/recordClaim" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TerminalService">
    <wsdl:port name="TerminalServiceSoap" binding="tns:TerminalServiceSoap">
      <soap:address location="http://localhost:51368/webservice/terminalservice.asmx" />
    </wsdl:port>
    <wsdl:port name="TerminalServiceSoap12" binding="tns:TerminalServiceSoap12">
      <soap12:address location="http://localhost:51368/webservice/terminalservice.asmx" />
    </wsdl:port>
    <wsdl:port name="TerminalServiceHttpGet" binding="tns:TerminalServiceHttpGet">
      <http:address location="http://localhost:51368/webservice/terminalservice.asmx" />
    </wsdl:port>
    <wsdl:port name="TerminalServiceHttpPost" binding="tns:TerminalServiceHttpPost">
      <http:address location="http://localhost:51368/webservice/terminalservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>